
 <div> 
 
    <div class="navbar">
     <div class="icon">
        <img src='<%=asset_url('icon.png')%>'>
        </div>
       
      
    </div>
     <hr class="hr" />

    <div class="header">
        <h1 class="banner text-center" >Watch Movies Online in HD for Free!</h1>
    </div>
    <hr class="hr" />
  
    <div class="form">
       <%= form_with url: show_path,class: "search-form", method: :get do |form| %>
            <div class="forminput mb-3">
                
                <%= form.text_field :query,class: " search-field",placeholder: "Movies and Shows" %>
                <%= form.submit  "Search",class: " search-btn btn btn-outline-danger btn-lg" %>
            </div>   
        <% end %>
    </div>
      
    <hr class="hr" />
</div>

<div class="about "> 
    <h3 class= "paragraph-title">Cinema - Watch Movies Online for FREE</h3>

    <p class= "paragraph">Cinema - the ultimate online movie streaming website that brings the magic of cinema to your fingertips. With a vast and diverse database, as well as a multitude of exciting features, FMovies offers an unparalleled movie-watching experience for film enthusiasts worldwide.</p>
    
     <p class= "paragraph">At Cinema, we take pride in our extensive database that encompasses a wide range of movies from various genres, eras, and countries. From Hollywood blockbusters to independent gems, we have something for everyone. Our database is continuously updated with the latest releases, ensuring that you stay up-to-date with the hottest films in the industry.</p>

    <p class= "paragraph">One of the standout features of Cinema is our personalized recommendation system. Our sophisticated algorithms analyze your viewing history, preferences, and ratings to curate a customized list of movie recommendations tailored specifically to your tastes. Discover new films you'll love and embark on exciting cinematic adventures you never knew existed.</p>

    <p class="paragraph">In addition to our large database and personalized recommendations, Cinema offers high-quality streaming for an immersive viewing experience. Enjoy movies in stunning high-definition resolution, accompanied by crisp audio, bringing the theater experience right to your home. Our adaptive streaming technology ensures smooth playback, adjusting to your internet connection for uninterrupted enjoyment.</p>

    <p class= "paragraph">Cinema also understands the importance of convenience and accessibility. Our platform is compatible with various devices, including laptops, tablets, and smartphones, allowing you to watch movies anytime, anywhere. Whether you're at home or on the go, FMovies keeps you connected to your favorite films.</p>
    <p class= "paragraph">Furthermore, Cinema fosters a vibrant community of movie enthusiasts. Engage in discussions, share reviews, and interact with fellow cinephiles through our dedicated forums and social features. Connect with like-minded individuals, exchange recommendations, and dive deeper into the world of cinema</p>

    <p class="paragraph">In summary, Cinema is the ultimate online movie streaming destination, offering a vast database, personalized recommendations, high-quality streaming, device compatibility, and an engaging community. Prepare to be captivated by the world of cinema as you embark on a cinematic journey like no other. Welcome to FMovies, where movies come to life.</p>


</div>



  