/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.maincontainer {
    background-color: #374259;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    height: auto;
    overflow: scroll;
}

@media (max-width: 500px) {
    .paragraph {
        font-size: x-small;

    }

    .paragraph-title {
        font-size: small;
    }


    body {
        display: block;
        padding: 10px;

    }

    .maincontainer {
        width: 100%;
        padding: 10px;

    }

    .movies {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .col {
        font-size: xx-small;
        width: 120px;

    }

    .col img {
        width: 100px;
        height: 100px;
    }

    .card {
        width: 120px;
    }

    .title {
        font-size: 50px;
    }

    #iteration-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }

    .search-card img {
        height: 200px;
        width: 110px;

    }

    .search-card {
        font-size: x-small
    }

    .before-search-card {
        height: 50%;
    }

    .edit i {
        font-size: 50px;
    }

    .edit {
        padding-top: 7px;
        padding-right: 7px;
        position: absolute;
        right: 20%;
        top: 100%;

        display: none;

    }

    .before-search-card:hover .edit {
        display: block;
    }

    .play-button i {
        font-size: 50px;
    }

    .play-button {
        padding-top: 7px;
        padding-right: 7px;
        position: absolute;
        right: 20%;
        top: 25%;
        display: none;
    }



    .card-body:hover .play-button {
        display: block;
    }












}