// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header {
    color: black;
}

.card {
    height: 50%;
    margin-bottom: 20px;
    border-radius: 20%;

}

.card img {
    height: 300px;
}

.maincard {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: black;
}

.title {
    color: #BF3131;
    font-size: 100px;


    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn {
    margin-top: 10px;
}

.card-body {
    background-color: black;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
}

.card {
    border-radius: 30%;
}

.maincard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    overflow: scroll;
    height: fit-content;
}

.card {
    height: auto;
}

.signup-form {
    background-color: #374259;
}

.form-control {
    background-color: black;
}

.edit-container {
    margin-top: 50px;
}

.edit-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}